@media (max-width: 1075px) {
  .container {
    padding: 0 45px;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .goods-tile {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 25px;
  }

  .content {
    padding-bottom: 120px;
  }

  .goods-tile {
    width: 100%;
  }
}
