.cart-modal {
  overflow-y: auto;
  // position: absolute;
  // width: 100%;

  &__tile {
    margin-bottom: 24px;
  }
  .cart-tile {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 20px;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: auto auto auto auto;
    // grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    .divider {
      width: 1px;
      height: 42px;
      background-color: $border-color;
    }
    &__title {
      width: 220px;

      min-height: 100%;
      display: block;
    }
    &__number {
      min-width: 215px;
      // justify-content: space-between;
      .btn {
      }

      input {
        width: 60px;
        text-align: center;
      }
    }

    &__delete {
      .btn {
      }
    }

    &__price {
      font-weight: 600;
    }
  }
}
