.footer {
  background-color: var(--main-color);
  margin-top: auto;

  &__wrapper {
    min-height: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__logo {
    color: #fff;
    font-size: 15px;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 10px;

    &:hover {
      color: #fff;
      // transform: scale(1.03);
      // background-color: rgb(255, 255, 255, 0.3);
    }
    &:visited {
      color: #fff;
    }
  }

  &__contacts {
  }
}
