.header {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.17);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;

  &__cart {
    position: relative;
    &-counter {
      background: #ff5252;
      position: absolute;
      right: 9px;
      top: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 15px;
      min-height: 15px;
      border-radius: 100%;
      font-size: 10px;
      color: #fff;
      padding: 1px;
    }
  }

  &__wrapper {
    min-height: 70px;
  }

  &__logo {
    // color: $main-color;
    color: var(--main-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    &:hover,
    &:visited {
      color: var(--main-color);
    }
  }
}
